﻿@using PagedList.Mvc;
@using CatalogsApp.Api.Models.Products
@*@model IEnumerable<ProductCatalogModel>*@
@model PagedList.IPagedList<ProductCatalogModel>

@{
    ViewBag.Title = "Product catalogs";
}

<h2>Product catalogs</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm("Index", "ProductCatalog", FormMethod.Get))
{
    <p>
        Find by code or name: @Html.TextBox("Keyword", ViewBag.CurrentFilter as string)
        <input type="submit" value="Search" />
    </p>
}
@if (Model != null && ViewBag.ExportLink != null)
{
    <a href="@ViewBag.ExportLink">Export results</a>
}

@if (Model != null)
{
    <table class="table">
        <tr>
            <th>
                @Html.ActionLink("Code", "Index", new { sortBy = "Code", currentFilter = ViewBag.CurrentFilter })
            </th>
            <th>
                @Html.ActionLink("Name", "Index", new { sortBy = "Name", currentFilter = ViewBag.CurrentFilter })
            </th>
            <th>
                @Html.ActionLink("Price", "Index", new { sortBy = "Price", currentFilter = ViewBag.CurrentFilter })
            </th>
            <th>
                @Html.ActionLink("Last Updated", "Index", new { sortBy = "LastUpdated", currentFilter = ViewBag.CurrentFilter })
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Code)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastUpdated)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </table>
    <br />
    <div>
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

        @Html.PagedListPager(Model, page => Url.Action("Index",
            new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
    </div>
}
<br />
